name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    name: Binary
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v
        path: v

    - name: Build V
      run: |
        make
        sudo ./v symlink

    - name: Set up V version latest
      uses: nocturlab/setup-vlang-action@v1
      with:
        v-version: latest
      id: v

    - name: Build
      run: v -prod .

  docker:
    runs-on: ubuntu-latest
    name: Docker
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Build
      run: "docker build -tag action/webhook:action ."

    - name: Run
      run: "docker run --rm ludeeus/webhook:action"